.favorite-players {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #002958;
}

.return-to-home-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #FFFEE0;
}

.return-to-home-btn:hover {
  cursor: pointer;
  background-color: #E8E7CB;
}