.player-stats-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-page-name {
  font-size: 32px;
  color: #002958;
}

body {
  background-color: #128639;
  font-family: 'Domine', serif;
}
