nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 60px;
  background-color: #FFFEE0;
}

.mavs-logo {
  height: 150px;
  width: 150px;
}

h1 {
  font-size: 30px;
  color: #002958;
}

.mavs-schedule-btn {
  color: #002958;
  font-weight: bold;
  background-color: #FFFEE0;
  border-color: #128639;
  border-style: ridge;
  border-width: 5px;
  border-radius: 10px;
  width: 150px;
  padding: 20px;
}

.mavs-schedule-btn:hover {
  cursor: pointer;
  background-color: #E8E7CB;
}