nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 60px;
  background-color: #FFFEEA;
}

.mavs-logo {
  height: 150px;
  width: 150px;
}

h1 {
  font-size: 30px;
  color: #002958;
}

.mavs-schedule-btn {
  color: #002958;
  border-color: #128639;
  border-width: 3px;
  border-radius: 10px;
  width: 150px;
  padding: 20px;
}

.mavs-schedule-btn:hover {
  cursor: pointer;
}