.team-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #002958;
  font-size: 18px;
}

.team-name {
  font-size: 30px;
  margin-bottom: 10px;
}